<html>
    
    {% include 'head.html' %}


    <body>

        {% include 'navbar.html' %}

        <section style="margin-top:40px;">
            <div class="container">
                <h1>Configuration Page</h1>
                <p>The configuration page allows a user to manually configure the DBpediaExtract application, this
                    includes the below options. To understand more about configuring the application, visit the 
                    About Configuration part.
                </p>
                <a href="/about" class="btn btn-secondary button m" role="button">About Configuration</a>
                <form action="/config-search" method="post" novalidate="novalidate" id="config">
                <br><label style="margin-top: 10px;" for="sel5">Select Language:</label> (Note - the existing hearst patterns are only of English)
                <select style="max-width: 160px;" class="form-control" id="sel5" name="language">
                    <option>English</option>
                    <option>Spanish</option>
                    <option>German</option>
                    <option>French</option>
                </select><br>
                <hr>
                    <div class="row">
                        <h3>&nbsp;&nbsp;Add Hearst Patterns</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="add-hearst">
                                <textarea name="hearst-patterns" form="config">(broadcast_on, first, http://dbpedia.org/ontology/frequency);(air_on, first, http://dbpedia.org/ontology/channel)</textarea>
                                <h4 style="margin-top:20px;">&nbsp;&nbsp;Add Lexicalizations/Properties</h4>
                                <textarea name="props" form="config" style="margin-top:7px;">(broadcast_on, http://dbpedia.org/ontology/frequency);(graduate_from, http://dbpedia.org/ontology/almaMater)</textarea>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="sel0">Select Input Hearst Type:</label>
                            <select class="form-control" id="sel0" name="hearst-input-type">
                                <option>verb+prep</option>
                                <option>Regex pattern</option>
                            </select><br>
                            <!-- <p class="hearst-ex">Add your hearst patterns in the following pattern (semi-colon separated):-</p>
                            <p class="hearst-ex">({verb_preposition}, first/last)</p>
                            <p class="hearst-ex">Ex - (founder_of, first)</p> -->
                            <p>For more about Hearst pattern configuration</p>
                            <a href="/about" class="btn btn-secondary button m" role="button">Hearst Configuration</a>
                            <hr>
                            <input type="checkbox" name="allow_given_hearst">&nbsp;&nbsp;Also use predefined Hearst patterns<br><br>
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                                Examples
                            </button>
                            <div class="group" style="margin-top:20px;">
                                <label for="sel1">Select Patterns:</label>
                                <select class="form-control" id="sel1" name="pattern-method">
                                    <option>Default</option>
                                    <option>Non-greedy</option>
                                    <option>Semi-greedy</option>
                                </select><br>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-4">
                            <div style="margin-left: 20px; margin-top:20px;">
                                <input style="zoom:2;" class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="parse-tree">
                                <label class="form-check-label" for="defaultCheck1">
                                    <h3>&nbsp;&nbsp;Use Parse-Tree Method</h3>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-8" style="margin-top:20px;">
                            <p>To know more about what Parse-Tree patterns, Dependencies, check out the following</p>
                            <a href="/#methods" class="btn btn-secondary button m" role="button">About Methods</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top:25px;">
                        <!-- <h3>&nbsp;&nbsp;Add Dependencies Configuration</h3> -->
                    </div>
                    <div class="row" style="margin-top:20px;"">
                        <div class="col-lg-4">
                            <div class="group1">
                                <div style="margin-left: 20px;">
                                    <input style="zoom:2;" class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="use-dependencies">
                                    <label class="form-check-label" for="defaultCheck1">
                                        <h3>&nbsp;&nbsp;Use Dependencies</h3>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div style="margin-left: 20px;">
                                <input style="zoom:2;" class="form-check-input" type="checkbox" value="" id="defaultCheck2" name="use-dependencies-coref">
                                <label class="form-check-label" for="defaultCheck2">
                                    <h3>&nbsp;&nbsp;Use Dependencies with Coreferences</h3>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                        <div style="margin-left: 20px;">
                            <input style="zoom:2;" class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="spotlight">
                            <label class="form-check-label" for="defaultCheck1">
                                <h3>&nbsp;&nbsp;Spotlight Annotations</h3>
                            </label>
                        </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 10px;">
                        <div class="col-lg-6">
                        <button class="btn btn-primary button" type="submit" style="margin-top: 40px;">Set Configuration</button>
                        </div>
                        <div class="col-lg-6" style="margin-top: 40px;">
                            <a href="/get-config" class="btn btn-primary button" role="button">Get Configuration</a>
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
        </section>
        
        <br>
        {% include 'footerbar.html' %}
    </body>
    <script>
        var methods = document.getElementsByName("use-dependencies")[0];
        var element = document.getElementsByClassName("dependencies-number")[0]

        methods.addEventListener('change', function(){
            if(this.value == 'Yes') {
                console.log(10);
                element.style.display = 'block';
            }
            
            else {
                element.style.display = 'none';
            }
        })

        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });

        var hearstTextArea = document.getElementsByName("hearst-patterns")[0];
        var hearst_type = document.getElementsByName("hearst-input-type")[0];

        hearst_type.addEventListener('change', function(){
            if(this.value == 'verb+prep') {
                console.log(10);
                hearstTextArea.innerHTML = '(broadcast_on,first,http://dbpedia.org/ontology/frequency);(air_on,first,http://dbpedia.org/ontology/channel)';
            }
            
            else {
                hearstTextArea.innerHTML = "(r'NP_(\w+).*?(broadcast).*?on.*?NP_(\w+)',first,broadcastOn,3,http://dbpedia.org/ontology/frequency);(r'NP_(\w+).*?(air).*?on.*?NP_(\w+)',first,airOn,3,http://dbpedia.org/ontology/channel)";
            }
        })        

    </script>
</html>