<html>
    
    {% include 'head.html' %}


    <body>

        {% include 'navbar.html' %}


        <section>
            <div class="container">
                <p style="font-size: 40px; margin-top:40px;">Evaluations</p>
                <div class="row"> 
                    <p>Here we explain the working and logic behind DBpedia Extract. Let's take the following text as an example :- </p>
                    <div>
                        <p class="eval-text">Beyoncé Giselle Knowles-Carter is an American singer, songwriter, record producer and actress. Born and raised in Houston, 
                        Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s 
                        as lead singer of R&B girl-group Destiny's Child. Managed by her father, 
                        Mathew Knowles, the group became one of the world's best-selling girl groups of all time. Their hiatus saw the release of Beyoncé's debut album, 
                        Dangerously in Love (2003), which established her as a solo artist worldwide, 
                        earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".
                        </p>
                    </div>
                    <p>We will now use the above text to understand each of the methods used by the application, in other words we will
                    look at various configurations of the application and see what results are being produced and how they are being produced.
                    </p>
                </div>
                <div class="row">
                    <p style="font-size: 30px; margin-top: 20px;">Configuration - 1 : Hearst Patterns</p>
                    <div>
                        <p>
                            The hearst patterns method allows users to add additional hearst patterns, but however the application list of hearst patterns which can be added.
                            Another set of hearst patterns are created by using the DBpedia properties which are present. Running the following
                            configuration we get the following triples
                        </p>
                        <p class="triples-text">
                            (&#60;http://dbpedia.org/resource/Houston&#62;, formOf, &#60;http://dbpedia.org/resource/Child&#62;) <br>
                            (&#60;http://dbpedia.org/resource/Late_Antiquity&#62;, typeOf, &#60;http://dbpedia.org/resource/Lead&#62;) 
                        </p>
                        <p>Hearst patterns depend heavily on syntax of the sentence and thus their performance is dependent on the sentence and 
                            cannot be predicted. In the following case, the hearst patterns don't perform to the mark
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p style="font-size: 30px; margin-top: 20px;">Configuration - 2 : Using Parse Tree Method</p>
                    <div>
                        <p>
                            The parse tree method can be switched on and off in the configuration. The parse tree method relies on an algorithm
                            which is run the parse-tree generated by the parse on the sentence. The triples identified by setting this as the configuration 
                            are
                        </p>
                        <p class="triples-text">
                            (&#60;http://dbpedia.org/resource/Houston&#62;, &#60;raised&#62;, &#60;http://dbpedia.org/resource/Houston&#62;) <br>
                            (&#60;http://dbpedia.org/resource/Beyoncé&#62;;, &#60;typeOf&#62;, &#60;http://dbpedia.org/resource/Singing&#62;) <br>
                            (&#60;hiatus&#62;, &#60;featured&#62;, &#60;http://dbpedia.org/resource/Synthesizer&#62;) <br>
                            (&#60;father&#62;, &#60;Managed&#62;, &#60;father&#62;) <br>
                        </p>
                        <p>The Parse Tree Method uses the generated parse tree to find triples (to be specific the treebank parse tree). Since this is
                            independent of the syntax of the sentence (in a way), the results obtained by the followingm method will be better than the
                            hearst pattern results, however the above results still can be further improved
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p style="font-size: 30px; margin-top: 20px;">Configuration - 3 : Using Dependencies</p>
                    <div>
                        <p>
                            Dependencies can be switched on and off in the configuration. This method relies on the CoNLL-U dependencies which are obtained
                            from the text. These dependencies are then checked for triples. The triples identified by setting this as the configuration 
                            are
                        </p>
                        <p class="triples-text">
                            (&#60;http://dbpedia.org/resource/Singing&#62;, &#60;hypernym&#62; (low confidence), &#60;http://dbpedia.org/resource/Rhythm_and_blues&#62;) <br>
                            (&#60;http://dbpedia.org/resource/Singing&#62;, &#60;http://purl.org/linguistics/gold/hypernym&#62;, &#60;http://dbpedia.org/resource/Giselle&#62;) <br>
                            (&#60;http://dbpedia.org/resource/Synthesizer&#62;, &#60;hypernym&#62; (low confidence), &#60;http://xmlns.com/foaf/0.1/album&#60;) <br>
                            (&#60;http://dbpedia.org/resource/Insanity&#62;, &#60;establish_as&#62;, &#60;http://dbpedia.org/resource/Artist&#62;) <br>
                            (&#60;album&#62;, &#60;earn_in&#62;, &#60;http://dbpedia.org/resource/Insanity&#62;)
                        </p>
                        <p>The Dependencies Method uses the dependencies obtained from the text to determine triples. This is done by traversing the dependencies
                            assuming it is a connected undirected graph. Using this method (better explained in the blog posts) the subject, onject along with the connecting verb can be extracted 
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p style="font-size: 30px; margin-top: 20px;">Configuration - 4 : Using Dependencies with coreferences</p>
                    <div>
                        <p>
                            Dependencies with coreferences can be switched on and off in the configuration. This method is an extension to the Dependenices, instead now the text coreferences are now 
                            utilised in extracting triples. The triples identified by setting this as the configuration 
                            are
                        </p>
                        <p class="triples-text">
                            (&#60;http://dbpedia.org/resource/Singing&#62;, &#60;hypernym&#62; (low confidence), &#60;http://dbpedia.org/resource/Rhythm_and_blues&#62;) <br>
                            (&#60;http://dbpedia.org/resource/Singing&#62;, &#60;http://purl.org/linguistics/gold/hypernym&#62;, &#60;http://dbpedia.org/resource/Giselle&#62;) <br>
                            (&#60;http://dbpedia.org/resource/Synthesizer&#62;, &#60;hypernym&#62; (low confidence), &#60;http://xmlns.com/foaf/0.1/album&#60;) <br>
                            (&#60;http://dbpedia.org/resource/Insanity&#62;, &#60;establish_as&#62;, &#60;http://dbpedia.org/resource/Artist&#62;) <br>
                            (&#60;album&#62;, &#60;earn_in&#62;, &#60;http://dbpedia.org/resource/Insanity&#62;) <br>
                            (&#60;http://dbpedia.org/resource/Beyoncé&#62;, &#60;perform_as&#62;, &#60;http://dbpedia.org/resource/Child&#62;)
                        </p>
                        <p>The Dependencies with coreferences Method will help better the results by adding coreferences. In our case, this method does help in adding one 
                            extra triple to the triples which have been extracted (namely the last one)
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {% include 'footerbar.html' %}
    </body>

</html>